<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature Conversion</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="c_to_f_formula.jpg" id='image'>
    <h2>Temperature Conversion Tool</h2>
    <div id="form">
        <input type="number" id="celsius"  placeholder="Enter temp in Celsius">
        <button onclick="convertTemperature()">Convert To Fahrenheit</button>  
    </div>
    <div id="result"></div>
    <script src="script.js" defer></script>
</body>
</html>