<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FeedBack Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Leave Your FeedBack</h2>
    <form>
        <div class="name-email">
            <input type="text" id="name" placeholder="Your Name">
            <input type="text" id="email" placeholder="your email">
        </div>
        <div class="FeedBack">
        <textarea id="FeedBack" placeholder="your FeedBack"></textarea>
        </div>
        <button id="button" onclick="Submit()">Submit</button>  
    </form>      
    <script src="script.js" defer></script>
</body>
